click==6.6
cloudinary==1.4.0
docker-py==0.5.3
dockerpty==0.3.4
docopt==0.6.2
fig==1.0.1
figaro==0.1
Flask==0.11.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.12
requests==2.11.1
six==1.10.0
texttable==0.8.4
virtualenv==15.0.3
websocket-client==0.11.0
Werkzeug==0.11.11
