body {
  background: #333;
  font-family: 'Inconsolata';
}

#editor {
  width: 50%;
  float: left;
}
#output {
  width: 49%;
  float: right;
  border-left: 5px solid #ccc;
}
#output p {
  padding: 0 100px;
  font-size: 25px;
  color: #fff;
}

#run {
  padding: 10px 22px;
  border: 1px solid #ccc;
  right: 0;
  background: #fff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
}
#run:hover {
  background-color: #000;
  color: #fff
}
