{% extends "layout.html" %}
{% block body %}
  <div id="menu">
    <a id='user-info'>Hey, {{ g.user.username }}</a>
    <a class="log-button signout" href="{{ url_for('logout') }}">sign out</a>
    <ul class='snippets-list'>
      {% for snippet in menu_items %}
        <li><a onClick="receiveCode({{snippet.id}})">{{ snippet.title }} </a></li>
      {% endfor %}
    </ul>
    <div class='editor-buttons'>
      <a class="editor-link" href="{{ url_for('index') }}" id='new'>NEW</a>
      <a class="editor-link" href="{{ url_for('index') }}" id='save'>SAVE</a>
      <a class="editor-link" id='run'>RUN</a>
    </div>
  </div>
  <div class="editor-cont">
    <div id='code-name-editor'>
      <input id="code-name-input" value="Untitled" />
    </div>
    <div id="editor">
    </div>
    <div id="output">
      <p id="outputText">
      </p>
    </div>
  </div>
{% endblock %}
