<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <script src="./static/frontend/assets/js/codemirror.js"></script>
  <link rel="stylesheet" href="./static/frontend/assets/css/codemirror.css">
  <script src="./static/frontend/assets/js/javascript.js"></script>
  <script src="./static/frontend/assets/js/text_editor.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
  <link rel="stylesheet" href="./static/frontend/assets/css/main.css" media="screen" title="no title">
  <script type="text/javascript" src="./static/frontend/assets/js/closebrackets.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <title>codeRunr</title>
  {% block body %}{% endblock %}
  
</html>
