<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="./static/frontend/assets/css/main.css" media="screen" title="no title">
    <title></title>
  </head>
  <body style="background:#ccc;">
    <div class="splash-text">
      <p class="codernr">
        codeRnr
      </p>
      <img src="./static/frontend/assets/img/roadrunner_well.png" class="splash-icon"/>
      <a class="enter" href="{{ url_for('signup') }}">Enter App</a>
    </div>
  </body>
</html>
